@*@model IEnumerable<GestionDeCentreDAL.Models.Personne>*@

@{
    ViewBag.Title = "Liste des personnes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profils des personnes présentes dans la base de données:</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="personnes" class="table table-striped table-hover" style="width:110%">
    <thead>
        <tr>
            <th scope="col"><h5>Numéro de registre</h5></th>
            <th scope="col"><h5>Nom</h5></th>
            <th scope="col"><h5>Prénom</h5></th>
            <th scope="col"><h5>Email</h5></th>
            <th scope="col"><h5>Rue</h5></th>
            <th scope="col"><h5>Ville</h5></th>
            <th scope="col"><h5>Code postal</h5></th>
            <th scope="col"><h5>Pays</h5></th>
            <th scope="col"><h5>Téléphone</h5></th>
            <th scope="col"><h5>Nom d'utilisateur</h5></th>
            <th scope="col"><h5>Mot de passe</h5></th>
            <th scope="col"><h5>Entreprise</h5></th>
            <th scope="col"><h5>Détails</h5></th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#personnes").DataTable({
                language: {
                    //url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json'
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
                },
                ajax: {
                    url: "/Personne/GetPersonnes",
                    type: "get",
                    dataType: "json"
                },
                columns: [
                    { data: 'NumeroRegistre', autowidth: true },
                    { data: 'Nom', autowidth: true },
                    { data: 'Prenom', autowidth: true },
                    { data: 'Email', autowidth: true },
                    { data: 'Rue', autowidth: true },
                    { data: 'Ville', autowidth: true },
                    { data: 'CodePostal', autowidth: true },
                    { data: 'Pays', autowidth: true },
                    { data: 'NumeroTelephone', autowidth: true },
                    { data: 'UserLogin', autowidth: true },
                    { data: 'MotDePasse', autowidth: true },
                    { data: 'IdEntreprise', autowidth: true },
                    {
                        data: 'IdPersonne',
                        render: function (data) {
                            return '<a class="btn btn-primary streched-link" href="/Personne/Details/' + data + '">Profil' + '</a>';
                        }
                    }
                ]
            });
        });

    </script>
}
