
@{
    ViewBag.Title = "AfterLogin";
}

<h2>AfterLogin</h2>

@if(Session.SessionID != null)
{
    <p>
        Bienvenu(e) @Session["UserName"]
    </p>

    @Html.ActionLink("Voir le catalogue de nos formations", "Index", "InstanceFormation", null, new { @class = "btn btn-primary streched-link" })

}

