@{
    ViewBag.Title = "Page d'accueil";
}


<div class="modal-content">    
    <div class="modal-body">
        <img src="../../Images/banner.jpg" class="img-fluid mb-3" alt="Modal Image" />
        <div class="section-heading text-center">
            <h2>Bienvenu(e) sur le portail web de notre centre de formations<br /> INTELLITIC <br />Centre de compétences pour apprendre les métiers de TIC.</h2>
        </div>        
    </div>
</div>
